<body class="container-contact mt-5 container">
    <h1 class="mt-5 text-center">CONTACT US</h1>
    <p class="mt-5 mb-5 text-center">For a free consultation contact us</p>

    <div class="contact-content">
        <div class="row container">
            <div class="box-contact col-5">
                <i class="fas fa-map-marker-alt"></i>
                <strong class="">Our Address</strong>
                <p>2004 San Jose St. Georgetown, Texas</p>
            </div>
            <div class="box-contact col-3">
                <i class="fas fa-envelope"></i>
                <strong>Email Us</strong>
                <p>info@mannyservicedesign.com</p>
            </div>
            <div class="box-contact col-3">
                <i class="fas fa-phone"></i>
                <strong>Call Us</strong>
                <p>(737) 356-1200</p>
            </div>
        </div>

    </div>

    <div class="form-contact container mt-5">
        <form class="form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="inputPassword4" placeholder="Your Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Subject">
                </div>
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" id="inputPassword4" placeholder="Telephone">
                </div>
            </div>
            <div class="form-group">
                <input type="textarea" class="form-control" id="message" placeholder="Message">
            </div>


            <button type="button" class="btn btn-secondary button-send-form">Sent Message</button>

    </div>

</body>