.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-contact {
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.26);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    margin-right: 20px;
}

.form-data {
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.26);
    padding: 50px;
}

#message {
    height: 108px;
}

.button-send-form {
    margin-left: 45%;
}