.container-galery {
    width: 600px;
}

.content-card {
    margin-top: 150px;
    padding: 0 80px
}

.content-card2 {
    margin-top: 150px;
    padding: 0 80px
}

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}