<body class="container-galery mt-5">
    <h1 class="mt-5 mb-5 text-center">GALLERY</h1>
    <p class="mt-5 mb-5 text-center">These is some of the work that we have done. Our work is done with the purpose of satisfying yout need/wants</p>
    <div class="card-deck content-card">
        <div class="row">


            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-5">


            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>


        </div>

    </div>






    <div class="card-deck content-card2">
        <div class="row">


            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-5">


            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card">
                    <img class="card-img-top" src="assets/images/gallery/g_12.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">Plumbing Services</h6>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="button-contact">
        <button onclick="ROUTER.load('contact')" type="button" class="btn btn-warning text-center mt-5 col-2">CONTACT!</button>
    </div>
</body>