html,
body {
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
}