<body>

    <div class="hero">

        <div class="video-container">
            <video autoplay id="heroVideo" loop muted class="w-100">
            <source src="../assets/video/video_content.mp4" type="video/mp4"/>
          </video>

        </div>


        <div class="header-content">
            <div class="row">

                <div class="col-7 hero-title">

                    <h2 class="hero-h2">Why fix it yourself? Leave it to</h2>
                    <h2 class="hero-h2">the pros.</h2>
                    <p class="hero-p">Prepare your "to do" list and giv us call</p>

                </div>
                <div class="col-5">


                    <form class="form-home">
                        <h5 class="form-h5-home">Get a Quote</h5>
                        <div class="form-group">

                            <input placeholder="Your name" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input placeholder="Email" type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <input placeholder="Telephone" type="text" class="form-control" id="inputPassword4">
                            </div>
                        </div>
                        <div class="form-group">
                            <input placeholder="Choose a service" type="text" class="form-control" id="inputAddress">
                        </div>
                        <div class="form-group">
                            <input placeholder="comment" type="textarea" class="form-control" id="textarea1">
                        </div>


                        <button type="button form-control" class="btn btn-warning w-100">Get a Quote</button>



                    </form>


                </div>
            </div>
        </div>
    </div>
    <div class="about-container">

        <div class="row about">
            <div class="col-6">
                <img class="img-about m-50" src="../assets/images/bg_3.jpg" alt="working">
            </div>

            <div class="col-6 about-container-text">
                <h4 class="about-h4 mt-4">ABOUT US</h4>
                <p class="about-p mt-4">We are a Family Owned & Operated company focused to give our customers quality and satisfaction, our team of expert have 20+ of experience, you can count on professional, reliable, trustworthy and friendly service </p>
            </div>
        </div>
    </div>

    <div class="container-work mt-5">
        <div class="row work card-deck">

            <div class="card card-work col-3">
                <div class="logo-work">
                    <i class="fas fa-th icon-work"></i>
                    <h5 class="mt-2">Tile Repair</h5>
                </div>
                <hr>
                <div class="text-work">
                    <p>Do you want to change your tiles or repair them?. We cant help you</p>
                </div>
                <div class="mt-4">
                    <i class="fas fa-arrow-circle-right"></i><a class="ml-2 read-more" href="#">Read more</a>
                </div>
            </div>


            <div class="card card-work col-3">
                <div class="logo-work">
                    <i class="fas fa-brush icon-work"></i>
                    <h5 class="mt-2">Drywall Repair</h5>
                </div>
                <hr>
                <div class="text-work">
                    <p>We help you personalize you space whith our drywall</p>
                </div>
                <div class="mt-5">
                    <i class="fas fa-arrow-circle-right"></i><a class="ml-2 read-more" href="#">Read more</a>
                </div>
            </div>


            <div class="card card-work col-3">
                <div class="logo-work">
                    <i class="fas fa-paint-roller icon-work"></i>
                    <h5 class="mt-2">Painting</h5>
                </div>
                <hr>
                <div class="text-work">
                    <p>Paint your house is a task that we can do for you.</p>
                </div>
                <div class="mt-5">
                    <i class="fas fa-arrow-circle-right"></i><a class="ml-2 read-more" href="#">Read more</a>
                </div>
            </div>


            <div class="card card-work col-3 ">
                <div class="logo-work">
                    <i class="fas fa-wrench icon-work"></i>
                    <h5 class="mt-2">Plumbing</h5>
                </div>
                <hr>
                <div class="text-work">
                    <p>We help you repair plumbing. Our service is of quality.</p>
                </div>
                <div class="mt-4">
                    <i class="fas fa-arrow-circle-right"></i><a class="ml-2 read-more" href="#">Read more</a>
                </div>
            </div>


        </div>

    </div>


    <div class="ourProject-container">
        <h2 class="title-project mb-4">OUR PROJECT</h2>
        <div class="row project card-deck">
            <div class="col-6 card card1">
                <img class="img-project" src="../../assets/images/gallery/g_5.jpg" alt="img-project">
            </div>
            <div class="col-6 card card2">
                <img class="img-project" src="../../assets/images/gallery/g_6.jpg" alt="img-project">
            </div>
        </div>
    </div>



    <div class="testimonials-container">
        <h2 class="mb-4 title-testimonials">TESTIMONIALS</h2><br><br>
        <div class="card-deck">
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">I really liked the work they did, I was totally satisfied. I recommended them 100% without a doubt.</p>
                <h2>- Charlie H.</h2>
            </div>
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">Manny is a awesome guy, he will do my bathroom next!</p>
                <h2>- George A.</h2>
            </div>
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">Fast, realiable and quality work. He fixed our plumbing after a major leak and he did it ASAP. Thanks Manny!</p>
                <h2>- Sam V.</h2>
            </div>
        </div>

        <div class="slide-cicle mt-5">
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
        </div>
    </div>



    <div class="needHelpContainer">
        <div class="needHelp-content">
            <h1>
                NEED HELP?
            </h1>
            <i class="fas fa-horizontal-rule"></i>
            <button onclick="ROUTER.load('contact')" type="button" class="btn btn-warning">CONTACT!</button>
        </div>

    </div>


</body>