/* Style Hero Content */

.hero {
    margin: 0 -16px;
    height: 589px;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-position: center center;
    background-size: cover;
    top: 0;
    right: 0;
}

.header-content {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin-top: 150px;
    padding: 0 20px;
    background-position: center center;
    background-size: cover;
}

video {
    display: inline-block;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control {
    background-color: #ffffff;
}

.form-home {
    background-color: #ffffff;
    opacity: 0.7;
    padding: 25px;
    margin-right: 25px;
}

.hero-h2,
.hero-p {
    color: #ffffff;
    margin-left: 50px;
}

#textarea1 {
    height: 60px;
}

.form-h5-home {
    margin-right: 70%;
}


/* Style AboutUs Content */

.about-container {
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    height: 400px;
    padding-top: 15px;
    box-shadow: 0px -1px 9px 3px rgba(0, 0, 0, 0.65);
    margin-top: 150px;
}

.img-about {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    line-height: 1.6
}

.about-h4 {
    justify-self: center;
    align-self: center;
}


/* Style Work Content */

.container-work {
    background-color: rgb(221, 220, 220);
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

.card-work {
    background-color: #ffffff;
    height: 300px;
    box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.23);
}

.text-work {
    border-top: rgb(0, 0, 0);
}

.icon-work {
    color: dodgerblue;
    font-size: 35px;
}

.logo-work {
    padding: 10px;
}

.fa-arrow-circle-right {
    color: gold;
}

.read-more {
    text-decoration: none;
}


/* Style ourProject Content */

.ourProject-container {
    height: 800px;
    background-color: rgb(216, 216, 216);
}

.title-project {
    text-align: center;
}

.project {
    text-align: center;
    margin-top: 60px;
}

.card1,
.card2 {
    background-color: rgb(216, 216, 216);
}


/* Style Testimonials Content */

.testimonials-container {
    background: #e8e8e8;
    height: 600px;
    padding: 100px;
}

.title-testimonials {
    text-align: center;
}

.card-recomended {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.slide-cicle {
    text-align: center;
}

.fa-circle {
    color: blue;
}


/* Style NeedHelp Content */

.needHelpContainer {
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('assets/images/gallery/g_11.jpg');
    position: relative;
}

.needHelpContainer:after {
    position: absolute;
    background-color: rgb(140, 51, 145, 0.7);
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.needHelp-content {
    z-index: 3;
}