.about-container {
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    height: 400px;
    padding-top: 15px;
    margin-top: 150px;
}

.img-about {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    line-height: 1.6
}

.about-h4 {
    justify-self: center;
    align-self: center;
}