<body class="container-about mt-5">
    <h1 class="mt-5 text-center">GALLERY</h1>
    <div class="about-container">

        <div class="row about">
            <div class="col-6">
                <img class="img-about m-50" src="../assets/images/bg_3.jpg" alt="working">
            </div>

            <div class="col-6 about-container-text">
                <h4 class="about-h4 mt-4">ABOUT US</h4>
                <p class="about-p mt-4">We are a Family Owned & Operated company focused to give our customers quality and satisfaction, our team of expert have 20+ of experience, you can count on professional, reliable, trustworthy and friendly service </p>
            </div>
        </div>
    </div>

    <div class="row px-5">
        <div class="col-4">
            <strong>our Vision</strong>
            <p>Offer the best construction adn repair service througth our company</p>

        </div>
        <div class="col-4">
            <strong>our Mission</strong>
            <p>Becoming an assential element for our clients by providing differentiated services ir order to help them carry out their construction ideas</p>

        </div>
        <div class="col-4">
            <strong>Our Value</strong>
            <p>Safety, attention, commitment, resposibility, integrity, passion and fun.</p>

        </div>

    </div>

</body>