<body class="container-about mt-5">
    <h1 class="mt-5 text-center">SERVICES</h1>

    <div class="row container card-services mx-auto">

        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_1.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_2.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>
    </div>

    <div class="row container card-services mx-auto mt-5">

        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_3.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_4.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>
    </div>

    <div class="row container card-services mx-auto mt-5">

        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_5.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="card">
                <img src="../../assets/images/services/service_6.jpg" alt="services">
            </div>
            <div class="card-description">
                <strong>Title Repair</strong>
                <p>We Specialize on tiling, we have changed and repaired tiles for years, we are verry detal oriented and clean when it comes to Tiles!</p>
            </div>
        </div>


    </div>

    <div class="button-contact mt-5 mb-5">
        <button onclick="ROUTER.load('contact')" type="button" class="btn btn-warning text-center mt-5 col-2">CONTACT!</button>
    </div>


    <div class="testimonials-container">
        <h2 class="mb-4 title-testimonials">TESTIMONIALS</h2><br><br>
        <div class="card-deck">
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">I really liked the work they did, I was totally satisfied. I recommended them 100% without a doubt.</p>
                <h2>- Charlie H.</h2>
            </div>
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">Manny is a awesome guy, he will do my bathroom next!</p>
                <h2>- George A.</h2>
            </div>
            <div class="card card-recomended">
                <img class="mb-4" src="../../assets/images/review.png" alt="review">
                <p class="px-3">Fast, realiable and quality work. He fixed our plumbing after a major leak and he did it ASAP. Thanks Manny!</p>
                <h2>- Sam V.</h2>
            </div>
        </div>

        <div class="slide-cicle mt-5">
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
        </div>
    </div>








</body>