.card-description {
    background-color: #ffffff;
    margin-top: -68px;
    z-index: 23;
    width: 90%;
    margin-left: 23px;
    height: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 15px -1px #000000;
    padding: 15px;
}

.card {
    z-index: -64;
}

.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-container {
    /* background: #e8e8e8; */
    height: 600px;
    padding: 100px;
}

.title-testimonials {
    text-align: center;
}

.card-recomended {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.slide-cicle {
    text-align: center;
}

.fa-circle {
    color: blue;
}